.route-manage {
    width: 68%;
    background-color: var(--gray);
    border-radius: 16px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 20px;

    .route-manage-title {
        width: 100%;
        margin: 30px 0 0 30px;
        height: 50px;
        color: burlywood;
        font-size: 22px;

        span {
            margin-left: 15px;
            color: black;
        }
    }

    .route-manage-table {
        width: 100%;
        padding: 10px 50px 50px 50px;

        .table-wrapper {
            max-height: 300px; // scroll dọc tối đa 200px
            overflow-y: auto;
            border-radius: 24px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: center;
            background-color: whitesmoke;
        }

        th {
            background-color: var(--primary);
            position: sticky; // header cố định
            top: 0;
            z-index: 1;
        }
    }
}

.btn {
    margin: 0 4px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #5555558d;

    &.change {
        background: #3498db;
    }
    &.danger {
        background: #e74c3c;
    }
    &.add {
        background: #27ae5fc2;
        color: #333333;

        &:hover {
            background: #27ae5ff4;
        }
    }
    &.radius {
        border-radius: 8px;
        padding: 5px 12px;
    }
    &.details {
        background-color: whitesmoke;
        font-size: 16px;

        &:hover {
            color: #555555;
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 850px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;

    .table-wrapper {
        max-height: 400px;
        overflow-y: auto;
        border-radius: 24px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    th,
    td {
        padding: 8px;
        text-align: center;
        background-color: whitesmoke;
    }

    td:first-child,
    th:first-child {
        width: 10%;
    }

    td:last-child,
    th:last-child {
        width: 65%;
    }

    td {
        padding: 20px;
    }

    th {
        background-color: var(--primary);
        position: sticky;
        top: 0;
        z-index: 1;
    }
    h3 {
        margin-bottom: 20px;
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.stop-num {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-left: 15px;
}
