.wrapper {
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.content {
    display: grid;
    grid-template-columns: 60% 2% 38%;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
}

.content-notification {
    width: 100%;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        max-height: 300px;
        overflow-y: auto;
        // scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #919191;
            border-radius: 4px;
        }

        li {
            letter-spacing: 2px;
            list-style: none;
            margin-top: 20px;
        }
    }
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.content-map {
    position: relative;

    .btn-focus {
        position: absolute;
        top: 21%;
        left: 1.6%;
        z-index: 1200;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        border: none;
        // border-radius: 24px;
        width: 30px;
        height: 30px;
        font-size: 70%;

        &.unfocus {
            background: #e74c3c;
        }

        &.focus {
            background: #27ae60;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
:global(.bus-custom-icon) {
    background: none !important;
    border: none !important;
}

:global(.bus-icon-wrapper) {
    position: relative;
    width: 35px;
    height: 35px;
}

:global(.bus-number-circle) {
    position: absolute;
    top: -18px;
    left: 6px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s ease;
}

:global(.bus-icon-wrapper:hover .bus-number-circle) {
    background-color: var(--primary);
    box-shadow: 0 0 8px rgba(255, 61, 0, 0.7);
}
