.map-route {
    margin-top: 250px;
    margin-bottom: 50px;
    // border: solid 1px;
    width: 68%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .map-route-title {
        font-size: 25px;
        border-bottom: solid 2px #5b5b5ba9;
        width: 40%;
        text-align: center;

        .map-route-title-icon {
            margin-right: 10px;
            color: rgb(41, 165, 124);
        }
    }

    .map-route-location {
        // border: solid 1px;
        width: 80%;
        height: 450px;
        margin: 15px 10px 50px 10px;
        position: relative;

        .btn-focus {
            position: absolute;
            top: 18%;
            left: 1.4%;
            z-index: 1200;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            border: none;
            // border-radius: 24px;
            width: 30px;
            height: 30px;
            font-size: 70%;

            &.unfocus {
                background: #e74c3c;
            }

            &.focus {
                background: #27ae60;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
// .bus-custom-icon {
//     background: none !important;
//     border: none !important;
// }
