.student-manage {
    // height: fit-content;
    height: 300px;
    width: 68%;
    background-color: var(--gray);
    border-radius: 16px;
    margin-top: 230px;
    display: flex;
    flex-direction: column;

    .student-manage-title {
        width: 100%;
        margin: 30px 0 0 30px;
        height: 50px;
        color: var(--red);
        font-size: 22px;

        span {
            margin-left: 15px;
            color: black;
        }
    }

    .student-manage-table {
        border-radius: 24px;
        width: 100%;

        table {
            margin: 20px 50px;
            width: 90%;
            border-collapse: collapse;
            border-radius: 16px;
            overflow: hidden;
            border: none;
        }

        th,
        td {
            padding: 8px;
            text-align: center;
            background-color: whitesmoke;
        }

        th {
            background-color: var(--primary);
        }
    }
}
.btn {
    background-color: var(--red);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
        background-color: var(--red-hover);
        box-shadow: var(--shadow);
    }

    &.disabled {
        background-color: #ccc;
        cursor: not-allowed;
        pointer-events: none;
    }
}
