.route-status {
    width: fit-content;
    min-width: 1040px;
    height: fit-content;
    min-height: 200px;
    background-color: var(--gray);
    border-radius: 16px;
    margin-top: 50px;

    h2 {
        width: 100%;
        text-align: center;
        // padding-top: 10%;
    }

    .route-status-title {
        width: 100%;
        margin: 30px 0 0 30px;
        height: 50px;
        color: burlywood;
        font-size: 22px;

        span {
            margin-left: 15px;
            color: black;
        }
    }

    .route-status-container {
        width: 100%;
        min-height: 140px;
        height: fit-content;
        display: grid;
        grid-template-columns: 40% 30% 30%;

        .route-num-container,
        .route-location,
        .route-next-location {
            background-color: whitesmoke;
            min-height: 100px;
            height: fit-content;
            margin: 20px;
            border-radius: 12px;
            padding: 20px;
        }

        .route-num-container {
            position: relative;
            text-align: center;

            .route-num {
                position: relative;
                display: flex;
                justify-content: space-around;
                gap: 10px;
                height: 100%;

                // letter-spacing: 1.2px;
            }

            .active-color {
                width: 20px;
                height: 20px;
                border-radius: 999px;

                &.active {
                    background-color: aquamarine;
                }

                &.unactive {
                    background-color: var(--primary);
                }
            }
        }

        .start-end {
            width: 100%;
            height: 50%;
            color: #5b5b5ba9;
        }
    }
    .route-location {
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;

        .location-title {
            height: 50%;
            letter-spacing: 1.2px;

            .location-title-icon {
                font-size: 20px;
                color: var(--primary);
            }

            span {
                margin-left: 10px;
            }
        }
        .location-name {
            width: 100%;
            color: #5b5b5ba9;
            height: 50%;
        }
    }

    .route-next-location {
        display: flex;
        position: relative;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;

        .next-location-title {
            height: 50%;
            letter-spacing: 1.2px;

            .next-location-title-icon {
                font-size: 20px;
                color: var(--red);
            }

            span {
                margin-left: 10px;
            }
        }
        .next-location-name {
            width: 100%;
            color: #5b5b5ba9;
            height: 50%;
        }
    }
}
