.student-manage {
    // height: fit-content;
    height: 300px;
    width: 68%;
    background-color: var(--gray);
    border-radius: 16px;
    margin-top: 230px;
    display: flex;
    flex-direction: column;

    h2 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
    }

    .student-manage-title {
        width: 100%;
        margin: 30px 0 0 30px;
        height: 50px;
        color: var(--red);
        font-size: 22px;

        span {
            margin-left: 15px;
            color: black;
        }
    }

    .student-manage-table {
        border-radius: 24px;
        width: 100%;
        gap: 20px;
        max-height: 400px; // Giới hạn chiều cao
        overflow-y: auto;
        overflow-x: hidden;
        margin: 20px 50px;
        width: 90%;

        .student-manage-table-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            button {
                width: fit-content;
                height: 35px;
                cursor: pointer;
                border-radius: 16px;
                border: none;
                background-color: rgb(129, 255, 127);
                padding: 0 20px;
                &:hover {
                    background-color: rgb(114, 228, 112);
                }
            }
        }

        table {
            margin: 20px 50px;
            width: 90%;
            border-collapse: collapse;
            border-radius: 16px;
            overflow: hidden;
            border: none;
        }

        th,
        td {
            padding: 8px;
            text-align: center;
            background-color: whitesmoke;
        }

        th {
            background-color: var(--primary);
        }
    }
}
