.switch-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.switch-track {
    width: 70px;
    height: 38px;
    background: #ccc;
    border-radius: 50px;
    position: relative;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    padding: 3px;
}

.switch-thumb {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.3s ease;
    align-items: center;

    &.en {
        transform: translateX(0);
        background-color: rgb(51, 0, 255);
        color: aliceblue;
    }

    &.vi {
        transform: translateX(32px);
        background-color: rgb(255, 0, 0);
        color: rgb(243, 230, 42);
    }
    .label {
        // margin-left: 10px;
        font-weight: 800;
        width: 22px;
        height: 22px;
        font-size: 16px;
        position: absolute;
        left: 6px;
        top: 3px;
    }
}
